*.[ao]
*.mo
*.la
*.lo
.deps
.libs
.github

CMakeFiles
CMakeCache.txt
Makefile
Makefile.in
config.h
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

# Build directories
/build/

# Test results
/tests/unit/test-results.xml
